<h1 class="text-center">Login</h1>
<div class="row">
  <div class="offset-3 col-md-6 col-sm-12">

    <div class="form-group text-left">
      <label class="">Username</label>
      <input class="form-control" type="text" placeholder="please enter username">
    </div>

    <div class="form-group text-left">
      <label class="">Password</label>
      <input class="form-control" type="password" placeholder="please enter password">
    </div>

    <div class="form-group">
      <button class="btn btn-success">Submit</button>
      &nbsp;
      <a routerLink="/user/signup">not a user ?</a>
    </div>
  </div>
</div>
